
#///////////////////////////
# Cocos Creator Project
#///////////////////////////

/library/
/temp/
/local/
/build/
/profiles/
/artifacts/
/native/engine/android/**/*/assets

# Local release packages (upload these to GitHub Releases instead)
/release/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#//////////////////////////
# OS / logs
#//////////////////////////
.DS_Store
*.log
