html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;
  background: rgb(19, 24, 32);
}

body,
canvas,
div {
  outline: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

#GameDiv,
#Cocos3dGameContainer,
#GameCanvas {
  width: 100%;
  height: 100%;
}

#GameDiv {
  position: fixed;
  inset: 0;
}

canvas {
  display: block;
  background: transparent;
}
